build/
build-*/
cmake-build-*/
out/
dist/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
compile_commands.json
Testing/

*.obj
*.o
*.pdb
*.ilk
*.exp
*.lib
*.a
*.dll
*.so
*.dylib
*.exe

*.user
*.suo
*.opensdf
*.sdf
*.VC.db

.vscode/
.vs/
.idea/

.trae/